
.MainWrapper{
    background-color: rgba(52, 56, 64, 1);
    width: 290px;
    height: auto;
    border-radius: 10px;
    padding: 8px;
    color: white;
    margin: 5px;
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.15) 2.4px 2.4px 3.2px;
}

 

.headingwrapper{
    display: flex;
  
  float: right;
  
}

.ScoreWrapper{
    margin-top: 10px;
    font-size: 50px;
    color: white;

}

.commenttitle{
    font-weight: bold;
    margin-bottom: 3px;
     color: rgba(249, 249, 249, 0.67);
}


.MainWrapper:hover{
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
 } 