




.Inputcontainer{

    width: 470px;
    margin-bottom: 20px;
}
.inp{
    all: unset;
    width:100%;
    background-color: rgba(57, 62, 70, 0.5);
    height: 40px;
    border-radius: 6px;
    color: white;
    padding-left: 10px;
    padding-right: 10px;
    font-family: 'Montserrat', sans-serif;
}
.InputTitle{

    color: white;
    font-family: 'Montserrat', sans-serif;
    margin-bottom: 6px;
    font-weight: bold;
}
.errorWrapper{
    height: 30px;
    
    max-height: 30px;
    margin-bottom: 60px;
}

.Errordiv{
    color: red;
    font-weight: bold;
    font-family: 'Montserrat', sans-serif;
}

.Mainwrapper{
    
    display: grid;
    place-content: center;
    
     
}
 .inputwrapper{
    margin-top: 60px;
    display: grid;
    place-content: center;
  
}

.UpdateBtn{
    all: unset;
    padding: 10px;
    border-radius: 10px;
    font-size: 21px;
    width: 200px;
    background-color: rgba(0, 185, 174, 1);
    color: white;
    cursor: pointer;
    transition: 300ms;
    
}

.UpdateBtn:hover{
    background-color: rgba(0, 185, 174, 0.5);
}